*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html,
body{
  height: 100%;
  width: 100%;
}

.card{
  background-color: red;
  border-radius: 10px;
  margin: 20px;
}
.nav{
  background-color: aqua;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}